* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
    background-image: url("../images/payment/bg6.jpg");
    background-size: cover;
    background-position: center;
}

.payment-heading {
    width: fit-content;
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 30px auto;
    border-radius: 5px;
    padding: 5px 25px;
    border: solid rgb(255, 253, 253);
}

.main-container {
    background-color: white;
    display: flex;
    flex-direction: column;

    width: 90%;
    margin: 5px auto;
    border: solid rgb(255, 254, 254);
}

.main-container, .top-section, .rupee-logo {
    border-radius: 10px;
}

.top-section {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
}

.text {
    margin-right: 10px;
    color: whitesmoke;
    text-align: right;
}

.rupee-logo{
    margin-left: 5px;

    width: 20%;
    height: 80%;

    background-image: url('../images/payment/rupee-logo.jpg');
    background-size: cover;
    background-position: center;
    
    border: solid white;
}

.middle-section {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: 25px auto;
}

label, input {
    margin: 7px 0px;
}

label {
    color: rgb(126, 125, 125);
    font-size: 20px;
    font-weight: 600;
}

input {
    font-size: 20px;
    border-width: 0 0 2px;
    outline: 0;
}

.select-payment-method {
    margin: auto auto;
}

.payment-section {
    display: flex;
    flex-direction: row;

    width: 90%;
    margin: 15px auto;
}

.row1, .row2, .row3 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pay{
    padding: 2.5rem 4.5rem;
    margin: 3px;
    border: 1px gainsboro solid;
    border-radius: 3px;

    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
}

#pay-1 {
    background: transparent url("../images/payment/emi.png");
}

#pay-2 {
    background: transparent url("../images/payment/gpay.png");
}

#pay-3 {
    background: transparent url("../images/payment/card.jpg");
}

#pay-4 {
    background: transparent url('../images/payment/visa.png')
}

#pay-5 {
    background: transparent url("../images/payment/paypal.png");
}

#pay-6 {
    background: transparent url("../images/payment/upi.svg");
}

#pay-1, #pay-2, #pay-3, #pay-4, #pay-5, #pay-6 {
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}

.payment-section button{
    font-weight: 600;
    color: rgb(5, 5, 5);
    background-color: rgb(255, 255, 255);
}

.bottom-section {
    margin: auto auto;
    width: 90%;
}

.bottom-section button{
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 500;

    color: white;

    padding: 7px 0px;
    cursor: pointer;

    margin-bottom: 5px;
}

/* Color for top and bottom */
.top-section, .bottom-section button {
    background-color: rgb(83, 29, 29);
}

@media only screen and (min-width: 900px) {
    .main-container {
        width: 50%;
    }
}