body{
    background-color: hsl(0, 0%, 0%);
    /* background-image: url('../images/Register/register-1.jpg');
    background-position: center;
    background-size: cover; */
}

/* Header */
.register-header {
    display: flex;
    justify-content: flex-end;
    margin: 20px 50px 0px 0px;
}

#back-btn {
    font-size: 20px;
    padding: 15px 50px;
}

#back-btn:hover {
    text-decoration: none;
    color: white;
}

.nav-links {
    font-weight: 400;
}

#contact-header {
    background-image: none;
    height: 10vh;
}

.container {
    padding: 0px;
}

/* Main */
main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 15px auto 0px auto;
}


/* Main section */
.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.register h1 {
    color: #a12828;
    font-size: 72px;
}

.register span {
    color: white;
}

.main-line {
    width: 80%;
    font-size: 40px;
    color: #a12828;
}

.left-section p {
    padding-right: 7px;
    color: white;
    font-size: 20px;
    line-height: 30px;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-line {
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #a12828;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    margin: 5px auto;
}

/* Form */
.main{
    width: 100%;
    margin: auto auto;

    display: flex;
    flex-direction: column;
    border: solid #a12828;
    background-color: white;
    border-radius: 5px;
}

input::placeholder{
    color: rgb(126, 123, 123);
}

.row {
    display: block;
    border: 0.5px solid rgb(226, 219, 219);
    border-radius: 5px;
    height: 48px;
    width: 85%;
    margin: 20px auto;
    outline-color:hsl(246, 40%, 76%);

    caret-color:hsl(248, 32%, 49%);
}

#first-name, #last-name, #email, #password {
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.text-main {
    font-size: x-small;
    text-align: center;
    padding-bottom: 16px;
}

.text-main span{
    color: #a12828;
}

#button {
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

@media only screen and (min-width: 800px) {
    main {
        flex-direction: row;
        justify-content: space-between;
    }

    .left-section {
        width: 50%;
    }

    .right-section {
        width: 45%;
    }

    .msg {
        width: 25%;
        text-align: center;
    }
}