* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Animations */
@keyframes scaleUpAnimation {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

@keyframes slider {
    0% {margin-top: -300px;}
    5% {margin-top: -200px;}
    33% {margin-top: -200px;}
    38% {margin-top: -100px;}
    66% {margin-top: -100px;}
    71% {margin-top: 0px;}
    100% {margin-top: 0px;}
}

/* Header */
header {
    height: 85vh;

    background-image: url('../images/Home/mainImage.jpg');
    background-size: cover;
    background-position: center;
}

/* Nav-Bar */
.container {
    display: flex;
    padding: 1.25rem;

    justify-content: space-between;
}

.logo {
    width: 90px;
    height: 80px;

    background-image: url('../images/logo/logo.png');
    background-size: cover;
    background-position: center;
}

.logo:hover {
    cursor: pointer;
    animation: scaleUpAnimation 2s ease-out;
}

.nav-bar {
    justify-items: flex-end;
}

.nav-bar ul {
    list-style-type: none;
}

.nav-items {
    padding-top: 17px;
    display: inline-block;
    vertical-align: bottom;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0px 10px;
    font-size: 1.45rem;
}

.nav-links:hover {
    text-decoration: underline;
    color: rgb(211, 86, 86);
}

#reg-btn {
    padding: 10px 40px 7px 40px;
    font-size: 15px;
}

.btn-red {
    padding: 15px 45px;
    border: none;
    background-color: rgba(195, 45, 75, 0.85);
    color: aliceblue;
    border-radius: 45px;
    cursor: pointer;
}

.btn-red:hover {
    animation: scaleUpAnimation 1s ease-in;
}

/* Centered Text */
.center-text {
    text-transform: uppercase;
    color: rgb(211, 86, 86);
    text-align: center;
    margin: 5rem auto 0rem auto;
    width: 80%;

    border: solid #f13a3a;
    width: fit-content;
    padding: 10px 0px;
    border: #f13a3a solid;
    font-size: 2rem;
}

.center-text h1 {
    font-size: 7vh;
}

.main-image {
    display: flex;
    flex-direction: column;
}

.main-image span{
    color: white;
}

.main-image h1{
    color: rgb(206, 55, 55);
}

/* Link Slider */
.updates {
    background-color: rgba(21, 33, 44, 0.85);
    margin: 10px auto;
    border: #f13a3a solid;
    padding: 5px 25px;
}

.update-head {
    text-align: center;
    color: white;
    text-decoration: underline;
    margin-bottom: 15px;
}

.slider {
    height: 40px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 2px white solid;
    overflow: hidden;
}

.update-item {
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 0px 15px;

    margin-bottom: 77px;
}

#text-1 {
    padding-top: 10px;
    animation: slider 5s linear infinite;
}

.update-link {
    color: darkcyan;
    text-decoration: none;
}

.update-link:hover {
    text-decoration: underline;
}

/* #text-1:hover {

} */

/* Main */
main {
    width: 90%;
    margin: 10px auto;
}

/* Quote */
.quote {
    background-color: lightgray;
}

.quote-text {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 20px 30px;
}

.quote-text span {
    display: block;
    text-align: right;
    margin: 5px 10px 0px 0px;
}

/* Sections */
.sections {
    margin: 10px auto 70px auto;
}

.sections h1 {
    color: rgb(151, 28, 28);
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    margin: 7px 0px;
}

/* Blogs */
.blog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.items {
    margin: 25px 7px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.items a {
    height: 15%;
    display: block;

    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;

    border: #292828 solid;
    border-radius: 5px;
    margin: 5px auto;

    padding: 5px 25px;
}

.items a:hover {
    color: rgb(235, 233, 233);
    background-color: #292828;
    transition-duration: 0.5s;
}

/* Images */
.item-image {
    display: block;
    width: 550px;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 7px;

    margin: auto auto;

    border: #292828 solid;
}

#image-1 {
    background-image: url('../images/Home/image-1.jpg');
}

#image-2 {
    background-image: url('../images/Home/image-2.jpg');
}

#image-3 {
    background-image: url('../images/Home/image-3.jpg');
}

#image-4 {
    background-image: url('../images/Home/image-4.jpg');
}

/* Collaborate with us (Big Icons) */
.social-media {
    display: flex;
    justify-content: space-around;
    color: black;
    margin: 25px 0px;
}

.icons {
    margin: 10px;
}

.icons p {
    text-align: center;
}

.icons:hover {
    cursor: pointer;
    animation: scaleUpAnimation 2s ease-in-out;
}

/* Footer */
.main-footer {
    color: white;
    padding: 15px;
    background-color: rgb(26, 25, 25);
    text-align: center;
}

.main-footer h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.social-media-footer {
    display: flex;
    justify-content: center;
    color: white;
}

/* For fullscreen view of laptop */
@media all and (min-width: 900px) {

    .center-text {
        padding: 10px 40px;
    }

    .center-text h1 {
        font-size: 10vh;
    }

    main h1 {
        font-size: 40px;
    }

    .blog-container {
        flex-direction: row;
    }

    .items {
        width: 40%;
    }

    .item-image {
        width: 400px;
    }
}